body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}

li {
    margin: 10px;
    list-style: none;
    background: white;
    padding: 10px;
}